.item {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 2rem;
}

.image {
    width: 100%;
    height: 160px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-size: cover;
}

.image img {
    width: 100%;
    object-fit: cover;
}

.head {
    text-align: center;
    padding: 0.8rem;
}

.head h3 {
    font-size: 1rem;
    margin: 0 0 10px;
    color: #2c292b;
}

.description,
.tags {
    padding: 0.8rem;
    font-size: 0.8rem;
}

.head h3,
.description,
.tags {
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 576px) {
    .item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .item {
        flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
    }
}

@media (min-width: 992px) {
    .item{
        flex: 0 0 25%;
        max-width: 25%;
    }
}